<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="authorization_endpoint" href="https://blog.giersig.eu/auth">
  <link rel="token_endpoint" href="https://blog.giersig.eu/token">
  <link rel="micropub" href="https://blog.giersig.eu/micropub">
</head>
<body>
  {{ content | safe }}
</body>
</html>